*{
	margin: 0;
	padding: 0;
	border: 0;
}
.me{
	max-width: 100%;
	min-width: 50%;
	height: 100%;
}
.tabbar{
	height: 65px;
	width: 100%;
	background-color: white;
	position: fixed;
	z-index: 1;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);

}

.tabbar a{
	text-decoration: none;

}
.tabbar a img{
	float: left;
	margin: 14px 2px 0px 25px;
	height: 38px;
	

}
.tabbar a p{
	float: left;
	margin-top: 16px;
	font-size: 28px;
	color: #757575;
	font-family: calibri;
	font-weight: 500;
}
/* ------------------------------- */
.menu{

	width: 100%;	
}
.menu ul{
	margin-top: -10px;
	float: right;
}
.menu ul li{
	height: 45px;
	padding: 30px 40px 0px 40px;
	display: inline-block;

}
#thea{
	background-color:  #dd5347;
	padding: 27px 50px;
	color: white;
	font-family: calibri;

}
.menu ul li a{
	text-decoration: none;
	color: #4a4a4a;
	font-family: calibri;
	font-weight: 200;
	font-size: 16px;
}
.menu ul li:first-child a{
	color: red;
}
.clear
{
	clear: both;
}
/* ------------------------------------ */
.anh{
	width: 100%;
	height: 410px;
	
}
.anh img{
	width: 100%;
	height: 100%;
}
/* ------------------------------------ */
.batdau{
	background-color: #dd5347;
	height: 190px;
	width: 100%;

}
.batdau1 a{
	text-decoration: none;
	padding: 50px 80px;
	float: left;
}
.batdau1{
	padding-left: 200px;
}
.batdau1 a p{
	border: 1px solid white;
	padding: 28px 86px 28px 100px ;
	width: 80px;
	font-family: calibri;
	font-size: 20px;
	color: white;
}
.batdau1 li{
	list-style: none;
	padding: 38px 100px 0px 0px;
	max-width: 1000px;
}
.batdau1 li p{
	color: white;
	font-family: calibri;
	font-size: 40px;
	font-weight: 100;
	text-align: justify-all;

}
/*---------------------------------------------- */
.body  p{
	font-size: 50px;
	text-align: center;
	color: #333;
	margin-top: 70px;
	font-family: calibri;
	font-weight: 200;

}
.chu{
	margin-top: -50px;
}
.chu p{
	font-size: 18px;
	font-family: calibri; 
	font-weight: 200;
	width: 480px;
	

}
.chu b{
	color: #4a90e2;
}
/* --------------------------------------- */
.body2{
	width: auto;
	margin-left: 220px;
	margin-top: 65px;
}

.body2 nav{
	box-shadow: 0 4px 10px rgba(0,0,0,0.55);
	width: 260px;
	height: 400px;
	float: left;
	margin: 10px;
	border-radius: 2px 0px;
	
}
.nav1 p:nth-of-type(1){
	font-size: 25px;
	font-weight: 300;
	font-family: calibri;
	text-align: center;
	color: #333;
	padding-top: 15px;
}
.nav1 p:nth-of-type(2){
	font-size: 18px;
	font-weight: 300;
	font-family: calibri;
	padding: 0px 20px;
	color: #333;
}
.nav1 p:nth-of-type(2) b{
	color: #4a90e2;
}
.nav2 p:nth-of-type(1){
	font-size: 25px;
	font-weight: 300;
	font-family: calibri;
	text-align: center;
	color: #333;
	padding-top: 15px;
}
.nav2 p:nth-of-type(2){
	font-size: 18px;
	font-weight: 300;
	font-family: calibri;
	padding: 0px 20px;
	color: #333;
}
.nav3 p:nth-of-type(1){
	font-size: 25px;
	font-weight: 300;
	font-family: calibri;
	text-align: center;
	color: #333;
	padding-top: 15px;
}
.nav3 p:nth-of-type(2){
	font-size: 18px;
	font-weight: 300;
	font-family: calibri;
	padding: 0px 20px;
	color: #333;
}
.nav4 p:nth-of-type(1){
	font-size: 25px;
	font-weight: 300;
	font-family: calibri;
	text-align: center;
	color: #333;
	padding-top: 15px;
}
.nav4 p:nth-of-type(2){
	font-size: 18px;
	font-weight: 300;
	font-family: calibri;
	padding: 0px 20px;
	color: #333;
}
/* ------------------------------ */
.clear2{
	clear: both;
}
.cuoi1{
	background-color: #f9f9f9;
	height: 80px;
	margin-top: 70px;
}
.cuoi2{
	height: 7px;
	width: 200px;
	float: right;
	margin-top: -13px;
	margin-right: 80px;
}
.cuoi2 ul li{
	text-decoration: none;
	height: 2px;
	width: 35px;
	display: inline-block;
	margin-left: -4px;
}

.cuoi3{
	background-color: #f9f9f9;
	margin-top: 3px;
	height: 130px;
	position: relative;
}
.cuoi3 ul:first-child{
	margin: 20px 120px;
	position: absolute;

}
.cuoi3 ul:first-child li {
	display: inline-block;
	margin-left: 5px
}
.cuoi3 ul:last-child{
	margin: 40px 120px;
	position: absolute;
}
.cuoi3 ul:last-child li{
	display: inline-block;
	margin-left: 5px
}
.cuoi3 ul:last-child li a{
	font-size: 16px;
	text-decoration: none;
	color: blue;
}
.cuoi3 ul:last-child li:nth-of-type(3) a{
	color: #8960af;
}
.cuoi3 ul:last-child li:nth-of-type(4){
	margin-left: 126px; 
}
/* -------------------------------------------- */
.cuoi4{
	background-color: #f5f5f5;
	height: 50px;
	position: relative;
}
.cuoi4 ul:first-child {
	margin: 18px 120px;
	position: absolute;
	float: left; 

}
.cuoi4 ul:first-child li{
	display: inline-block;
	margin-left: 5px;

}
.cuoi4 ul:first-child li a{
	text-decoration: none;
	font-family: calibri;
	color: blue;
	font-size: 12px ;
}
.cuoi4 ul:last-child{
	float: right;
}
.cuoi4 ul:last-child select{
	width:300px;
	margin:18px 130px 0px 0px;
	border-radius: 2px;
	border: 1px solid rgb(169, 169, 169); 
}
.cuoi4 ul:last-child img{
	height: 13px;
	
}